/***********************************************/
/***************** Sidelayout ******************/

/* h1 bliver kun brugt til vores grå bokse, derfor styler vi dem alle samlet */
h1 {
    font-size: 25px;
    color: white;
    background-color: #454545;
    width: 100%;
    margin: 0;
    padding: 24px;
    display: flex;
    justify-content: center;
}

h2 {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main p {
    width: 85%;
    text-align: center;
    margin: 20px 0;
}

html {
    height: 100%;
}

body {
    /* vh betyder view height. Her sige vi at indholdet som minimum skal fylde skærmens højde */
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    /* browseren har noget margin som udgangspunkt. Det fjerner vi */
    margin: 0;

    /* Sæt generel font */
    font-family: opensans, sans-serif;
    background-color: #efeded;
}

main {
    flex: 1;
}

* {
    box-sizing: border-box;
}

footer {
    background-color: #454545;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

button {
    font-family: opensans, sans-serif;
}


#logoFooter img {
    width: 70px;
}

.link-bulow {
    text-decoration: none;
    color: white;
}
/***********************************************/
/***************** mobil nav *******************/

/*Jeg bruger flex til at bestemme retningen for min navbar og centerer den derefter*/
#menu {
    /* placering af menu (Gør så vi kan placere navbaren i forhold til browser)*/
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%;
    width: 100%;
    background-color: #454545;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* vi løfter menuen over andet content*/
    z-index: 5;
    /* menubaren animeres ind*/
    transition: left 0.3s linear;
}

/*Denne style bliver brugt når der er #menu i url'en. Det bruger vi til at vise navbaren, når vi trykker på "åben navbar" ikonet*/
#menu:target {
    left: 0;
}

#menuPunkter {
    /*Punkterne fjernes fra listen*/
    list-style: none;
    padding: 0;
    margin-top: 120px;
    color: #f2cbd9;
    text-decoration: none;
    /*Flex bruges til at ligge links under hinanden og centere dem*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Menupunkter adskilles lidt*/
#menuPunkter a {
    font-size: 20px;
    font-family: "opensans", serif;
    display: block;
    margin: 10px;
    padding: 20px;
    /*Jeg fjerner stregen og ændre farven*/
    color: white;
    text-decoration: none;
    text-shadow: 0px 1px 6px #0000001d;
}

/***********************************************/
/************ mobil nav knapper ****************/

#closeNav,
#openNav {
    /*Gør så vi kan placere krydset i navbaren som vi vil*/
    position: absolute;
    top: 40px;
    text-decoration: none;
    font-size: 40px;
    color: black;
}

/*knapper til åben og luk af navbar*/
#closeNav {
    right: 10px;
    top: 10px;
    color: white;
}

#openNav {
    left: 10px;
    top: 10px;
    color: white;
}

/***********************************************/
/************ mobil nav logo *******************/

/*logoet i navbaren*/
#logo {
    width: 60%;
    display: block;
}

#logoText {
    display: none;
}

/*Giver logoet 100% af forældrens 60%*/
#logo img {
    width: 100%;
}

#navtop {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
}

/***********************************************/
/*************** mobil topbar ******************/

/*Tilpasning af logo i toppen på mobil*/
#logoTop {
    width: 60%;
    margin-top: 30px;
}

#logoTop img {
    width: 100%;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 100%;
    position: relative;
}

#headerText {
    /* Vi bruger absolute placering til at lægge boksen oven på vores header */
    position: absolute;
    bottom: 20%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(224, 224, 224, 0.6);
    padding: 50px 20px;
    margin: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

/*Jeg styler mit bülow logo som ligger i bunden af navbaren*/
#lblogo {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 30px;
}

#lblogo img {
    width: 25%;
}

/* vores store billede i headeren. 2 og 3 er tablet og desktop */
#navtopImage,
#navtopImage2,
#navtopImage3 {
    width: 100%;
}

#navtopImage2,
#navtopImage3 {
    display: none;
}

/***********************************************/
/************* mobil landingpage ***************/
.product {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.picturesLanding {
    width: 100%;
}

/*Herunder styles konkurrenceboxen på landingpage*/
#konkurrenceBox {
    background-color: #454545;
    color: white;
    /* vi bruger display flex til at bestemme retningen af indholdet og til at centere det i boksen*/
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    padding: 10px;
    margin: 30px;
}

#konkurrenceBox p {
    width: auto;
    margin: 8px;
}

#konkurrenceLink {
    color: white;
}

/***********************************************/
/************* mobil produtsider ***************/

#ingrediensLabel,
#ingrediensLabel2 {
    color: white;
    padding: 5px 85px;
    font-size: 18px;
    margin: 20px;
}

#ingrediensLabel {
    background-color: #7b6dbf;
}

#ingrediensLabel2 {
    background-color: #ee855c;
}

.ingredient-image.desktop {
    display: none;
}

/***********************************************/
/************* mobil - Konkurrence *************/

#fotoKonkurrence {
    width: 100%;
}

#konkurrenceIndhold {
    display: flex;
    flex-direction: column;
    width: 85%;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 40px 0px;
}

.formFields {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

input,
textarea {
    background-color: transparent;
    border: 1px solid #454545;
    padding: 12px;
    margin: 18px 0;
    width: 100%;
    /* vi bliver nødt til at overskrive fonten direkte her selvom vi har sat den på body allerede */
    font-family: opensans, sans-serif;
}

textarea {
    min-height: 200px;
}

#pictureUpload {
    width: 100%;
    margin: 20px 0;
}

#pictureIkon {
    background-color: #585858;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
}
#pictureIkon i {
    font-size: 80px;
}

#pictureUpload button {
    width: 100%;
    background-color: #7b6dbf;
    color: white;
    padding: 15px;
    border: none;
}

#deltagButton {
    background-color: #454545;
    color: white;
    padding: 15px 55px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: 10px;
    box-shadow: 0px 1px 25px #0000008b;
    width: 50%;
}

/***********************************************/
/********* mediaquery til tablet ***************/

@media only screen and (min-width: 700px) {
    #closeNav,
    #openNav {
        margin: 40px;
    }

    #logo {
        width: 40%;
        margin-top: 100px;
    }

    #lblogo {
        width: 40%;
    }

    #navtopImage,
    #navtopImage3 {
        display: none;
    }
    #navtopImage2 {
        width: 100%;
        display: block;
    }

    #logoTop {
        width: 40%;
        margin-top: 30px;
    }
    #headerText {
        width: 40%;
        left: 30%;
        margin-left: 0;
    }

    main {
        width: 60%;
        margin-bottom: 20px;
        margin-left: 20%;
    }
    #konkurrenceBox {
        width: 120%;
        margin-bottom: 60px;
    }

    h1 {
        width: 100vw;
    }

    h2 {
        width: 80vw;
        font-size: 18px;
    }
    
  
}

/***********************************************/
/********* mediaquery til web ******************/

@media only screen and (min-width: 1200px) {
    /*Vi tilpasser naven til tablet*/
    #closeNav,
    #openNav,
    #navtop,
    #lblogo {
        /*Disse funktioner vil vi ikke vise*/
        display: none;
    }

    #navtopImage,
    #navtopImage2 {
        display: none;
    }
    #navtopImage3 {
        width: 100%;
        display: block;
    }

    #menu {
        position: absolute;
        left: 0;
        padding: 0;
        height: 50px;
        background-color: transparent;
        flex-direction: row;
    }

    #logo {
        margin-left: 50px;
        width: 200px;
    }

    #logoText {
        display: block;
        position: absolute;
        left: 200px;
        top: 75px;
        font-size: 22px;
        color: white;
    }

    #headerText {
        bottom: 30%;
    }

    #menuPunkter {
        flex-direction: row;
        margin-left: auto;
        margin-right: 50px;
    }
    #menuPunkter a {
        font-size: 16px;
    }

    .product {
        flex-direction: row;
        align-items: center;
        margin: 20px 0;
    }

    .product p {
        margin: 0 60px;
    }

    /* her sørge vi for at hver andet produkt vender om ved at bruge flex order til at skubbe billedet */
    .product.flip .picturesLanding {
        order: 2;
    }

    .picturesLanding {
        width: 50%;
    }

    footer {
        padding: 20px 50px 40px 50px;
        margin-top: 60px;
    }

    #logoFooter {
        margin-top: 30px;
        width: 60px;
    }

    #mainKonkurrence {
        width: 80%;
        margin-left: 10%;
    }

    #konkurrenceIndhold {
        width: 100%;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 40px;
    }

    #fotoKonkurrence {
        width: 45%;
    }

    #form {
        width: 45%;
        flex-direction: row;
        align-items: flex-start;
        margin-top: 0;
    }

    .formFields {
        justify-content: flex-start;
        margin-left: 30px;
    }

    #deltagButton {
        margin-top: 60px;
        width: 100%;
    }
    .ingredient-image {
        display: none;
    }
    .ingredient-image.desktop {
        display: block;
    }
}
